body {
    background-color: rgb(175, 226, 209);
}

header div {
    font-size: 40px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background-color: burlywood;
}

main div {
    display: inline-block;
    position: relative;
    height: 200px;
    width: 200px;
    text-align: center;
    background-color: cornflowerblue;
    margin: 10px;
}

main div:hover{
    display: inline-block;
    position: relative;
    height: 200px;
    width: 200px;
    text-align: center;
    background-color: rgb(179, 199, 235);
    margin: 10px;
}

div.p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)    
}
